<form [formGroup]="form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Название" formControlName="firstName">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Адресс" formControlName="lastName">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="text" class="form-control" placeholder="Сайт" formControlName="middleName">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="text" class="mt-2 form-control" placeholder="Часы работы" formControlName="birthday">
      </div>
      <div class="col-md-12">
        <input type="text" class="mt-2 form-control" placeholder="Пол" formControlName="sex">
      </div>
      <div class="col-md-12">
        <input type="text" class="mt-2 form-control" placeholder="Место рождения" formControlName="birthdayPlace">
      </div>
      <div class="col-md-12">
        <input type="text" class="mt-2 form-control" placeholder="Фактический адрес проживания" formControlName="liveAddress">
      </div>
    </div>
    <div class="row" for>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Серия" formControlName="passportSeria">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Номер" formControlName="passportNumber">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Кем выдан" formControlName="passportWhoGive">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Когда выдан" formControlName="passportDate">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Код подразделения" formControlName="passportOfficeCode">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 tar fb">
        <button type="button" class="button--white">Отправить</button>
      </div>
    </div>

  </div>
</form>
