<form [formGroup]="form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <input type="file"
               (change)="fileChanges($event)"
               class="file-upload"
               data-height="500" />
      </div>
      <div class="col-12">
        <button class="d-block">Заполнить поля</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Имя" formControlName="firstName">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Фамилия" formControlName="lastName">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="text" class="form-control" placeholder="Отчество" formControlName="middleName">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="text" class="mt-2 form-control" placeholder="Дата рождения" formControlName="birthday">
      </div>
      <div class="col-md-12">
        <input type="text" class="mt-2 form-control" placeholder="Пол" formControlName="sex">
      </div>
      <div class="col-md-12">
        <input type="text" class="mt-2 form-control" placeholder="Место рождения" formControlName="birthdayPlace">
      </div>
      <div class="col-md-12">
        <input type="text" class="mt-2 form-control" placeholder="Адрес регистрации" formControlName="regAddress">
      </div>
      <div class="col-md-12">
        <input type="text" class="mt-2 form-control" placeholder="Фактический адрес проживания" formControlName="liveAddress">
      </div>
    </div>
    <div class="row" for>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Серия" formControlName="passportSeria">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Номер" formControlName="passportNumber">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Кем выдан" formControlName="passportWhoGive">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Когда выдан" formControlName="passportDate">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Код подразделения" formControlName="passportOfficeCode">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="progress">
          <div class="progress-bar progress-bar-success boja1" style="width: 12.5%">

          </div>
          <div class="progress-bar progress-bar-warning  boja2" style="width: 12.5%">

          </div>
          <div class="progress-bar progress-bar-danger boja3" style="width: 12.5%">

          </div>
          <div class="progress-bar progress-bar-danger boja4" style="width: 12.5%">

          </div>
          <div class="progress-bar progress-bar-danger boja5" style="width: 12.5%">

          </div>
          <div class="progress-bar progress-bar-danger boja6" style="width: 12.5%">

          </div>
          <div class="progress-bar progress-bar-danger boja7" style="width: 12.5%">

          </div>
          <div class="progress-bar progress-bar-danger boja8" style="width: 12.5%">

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary col-md-12 col-xs-12">Отправить</button>
      </div>
    </div>

  </div>
</form>
