form {
  max-width: 500px;
}

.register-heading {
  color: #e9ecef;
}

.btnForgetPwd {
  cursor: pointer;
  color: #f8f9fa;
  padding: 10px;
}

.btn-reg {
  text-align: center;
  margin-top: 15px;
  border: 1px solid;
  border-radius: 17px;
  padding: 5px;
}
