<div class="tab-content" id="myTabContent">
  <div class="form-new" id="home" role="tabpanel" aria-labelledby="home-tab">
    <h3 class="register-heading text-center mt-5 mb-3">Авторизация</h3>
    <div class="row register-form">
      <div class="col-md-12">
        <form class="mx-auto" [formGroup]="user">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Логин" value="" required=""
              formControlName="login"/>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Пароль" value="" required=""
              formControlName="pass"/>
          </div>
          <div class="form-group">
            <input type="submit" name="LGform1" class="btnContactSubmit button--white" value="Войти" (click)="login($event)"/>
            <span class="btnForgetPwd" value="Login">Забыл пароль</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
