.text-align {
  margin-top: -3%;
  margin-bottom: -9%;

  padding: 10%;
  margin-left: 30%;
}

.btnLoginSubmit {
  border: none;
  padding: 2%;
  width: 25%;
  cursor: pointer;
  background: #29abe2;
  color: #fff;
}

.register {
  width: 600px;
  background: #3aae9f;
  margin-top: 3%;
  padding: 3%;
  border-radius: 2.5rem;
}
.nav-tabs {
  font-size: 18px;
}

.nav-tabs .nav-item a {
  border-radius: 20px 20px 0 0;
  color: #495057;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: white;
}

.nav-tabs .nav-link.active {
  color: #000
}
