<div class="container register">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link"
             [ngClass]="{'active' : activeUserTab === userType.vuz}"
             (click)="setActiveTab(userType.vuz)">Вуз</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [ngClass]="{'active' : activeUserTab === userType.student}"
             (click)="setActiveTab(userType.student)">Пользователь</a>
        </li>
      </ul>
      <ul class="nav nav-tabs nav-justified my-5">
        <li class="nav-item">
          <a class="nav-link"
             [ngClass]="{'active' : isAuthTab}"
             (click)="authOrReg(true)">Авторизация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [ngClass]="{'active' : isAuthTab === false}"
             (click)="authOrReg(false)">Регистрация</a>
        </li>
      </ul>
      <ng-container *ngIf="isAuthTab; else registration">
        <auth-component></auth-component>
      </ng-container>
      <ng-template #registration>
        <ng-container *ngIf="activeUserTab === userType.vuz; else vuzregistration">
          <vuz-registration></vuz-registration>
        </ng-container>
        <ng-template #vuzregistration>
          <user-registration></user-registration>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
