<h1 class="title">[[USER_NAME]]</h1>

<div class="content">
  <div class='row'>
    <div class='column'>
      <ul class="nav flex-column nav-pills">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user', 'profile']">Анкета</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user', 'docs']">Документы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user', 'applications']">Мои заявки</a>
        </li>
      </ul>
    </div>
    <div class='column'>
      <div class="content" [ngSwitch]="activeRoute">
        <user-applications *ngSwitchCase="'applications'"></user-applications>
      </div>
    </div>
  </div>
</div>
