<form [formGroup]="form" (ngSubmit)="formSubmite()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <input type="file"
               (change)="fileChanges($event)"
               class="file-upload"
               data-height="500" />
      </div>
      <div class="col-12">
        <button class="d-block">Заполнить поля</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Имя" formControlName="firstName" [ngClass]="{'error': !form.controls.firstName.valid}">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Фамилия" formControlName="lastName" [ngClass]="{'error': !form.controls.lastName.valid}">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Отчество" formControlName="middleName" [ngClass]="{'error': !form.controls.middleName.valid}">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Электронная почта" formControlName="email">
      </div>
      <div class="col-md-6">
        <input type="password" class="form-control" placeholder="Пароль" formControlName="pass">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="text" class="mt-2 form-control" placeholder="Дата рождения" formControlName="birthday">
      </div>
      <div class="col-md-12">
        <input type="text" class="mt-2 form-control" placeholder="Пол" formControlName="sex">
      </div>
      <div class="col-md-12">
        <input type="text" class="mt-2 form-control" placeholder="Место рождения" formControlName="birthdayPlace">
      </div>
      <div class="col-md-12">
        <input type="text" class="mt-2 form-control" placeholder="Фактический адрес проживания" formControlName="liveAddress">
      </div>
    </div>
    <div class="row" for>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Серия" formControlName="passportSeria" [ngClass]="{'error': !form.controls.passportSeria.valid}">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Номер" formControlName="passportNumber" [ngClass]="{'error': !form.controls.passportNumber.valid}">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Кем выдан" formControlName="passportWhoGive">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Когда выдан" formControlName="passportDate">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Код подразделения" formControlName="passportOfficeCode">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 tar fb">
        <button type="submit" class="button--white" (click)="sendImage()">Отправить</button>
      </div>
    </div>

  </div>
</form>
