@font-face {
  font-family: 'Lato-Regular';
  src: url('./fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('./fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-HairLineItalic';
  src: url('./fonts/Lato-HairLineItalic.ttf') format('truetype');
}

body {
  color: #333;
  font-family: 'Lato-Regular', Arial !important;
  font-size: 14px;
}

h1, h2 {
  text-align: center;
  font-family: 'Lato-Bold';
}

h1 {
  font-size: 20px !important;
}

h2 {
  font-size: 18px !important;
}

input[type="text"] {
  background-color: #f4f8f7 !important;
  border: none !important;
  border-radius: 0 !important;
  font-size: 14px !important;
}

.fb {
  font-family: 'Lato-Bold', Arial;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.button--green {
  border-radius: 20px;
  color: #fff;
  border: 1px solid #3aae9f;
  background-color: #3aae9f;
  padding: 5px 45px;
}

.button--white {
  border-radius: 20px;
  color: #3aae9f;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 5px 45px;
}

.row {
  font-size: 14px;
}

